application/*
application_javascript/*
apt/*
ark/*
build-essential/*
compat_resource/*
database/*
homebrew/*
java/*
mingw/*
ohai/*
poise/*
poise-archive/*
poise-javascript/*
poise-languages/*
poise-service/*
postgresql/*
rsyslog/*
seven_zip/*
nginx/*
php/*
windows/*
yum-epel/*
zypper/*
